<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-03-12T14:38:47Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ayodejiayankola/Desktop/Udemy Study Project/Todoey/Todoey.xcodeproj</string>
</dict>
</plist>
